.main-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: center; */
  /* border: 5px solid green; */
  /* margin-left: 20%;
  margin-right: 20%; */
  margin-top: 20px;
  gap: 2px;
  
}
.card-container{
  
  background-color: rgb(244, 241, 238);
  /* border: 5px solid red; */
  width: 200px;
  height: 350px;
  margin-bottom: 10px;
}

h1{
  font-size: 20px;
}

.country-img{
  width: 200px;

}

